#modal{
    opacity: 0;
    transition: opacity 2s .2s;
    -webkit-transition: opacity 2s;
}
body.modal #modal{
    opacity: 1;
}

#home .cloud.first.animation,
#home .cloud.second.animation{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 30s;
    -webkit-animation-duration: 30s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
#home .cloud.first.animation {
    animation-name: cloud1Floating;
    -webkit-animation-name: cloud1Floating;
}
#home .cloud.second.animation {
    animation-name: cloud2Floating;
    -webkit-animation-name: cloud2Floating;
}
@keyframes cloud1Floating {
    0% {
        transform: translate3d(0, 0, 0);
    }
    4%{
        transform: translate3d(-1%, -6%, 0);
    }
    8%{
        transform: translate3d(-5%, -10%, 0);
    }
    16%{
        transform: translate3d(-25%, 0, 0);
    }
    25%{
        transform: translate3d(-50%, -10%, 0);
    }
    33%{
        transform: translate3d(-75%, 0, 0);
    }
    41%{
        transform: translate3d(-95%, -10%, 0);
    }
    46%{
        transform: translate3d(-99%, -6%, 0);
    }
    50%{
        transform: translate3d(-100%, 0, 0);
    }
    54%{
        transform: translate3d(-99%, 6%, 0);
    }
    58%{
        transform: translate3d(-95%, 10%, 0);
    }
    66%{
        transform: translate3d(-75%, 0, 0);
    }
    75%{
        transform: translate3d(-50%, 10%, 0);
    }
    83%{
        transform: translate3d(-25%, 0, 0);
    }
    91%{
        transform: translate3d(-5%, 10%, 0);
    }
    96%{
        transform: translate3d(-1%, 6%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes cloud1Floating{
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    4%{
        -webkit-transform: translate3d(-1%, -6%, 0);
    }
    8%{
        -webkit-transform: translate3d(-5%, -10%, 0);
    }
    16%{
        -webkit-transform: translate3d(-25%, 0, 0);
    }
    25%{
        -webkit-transform: translate3d(-50%, -10%, 0);
    }
    33%{
        -webkit-transform: translate3d(-75%, 0, 0);
    }
    41%{
        -webkit-transform: translate3d(-95%, -10%, 0);
    }
    46%{
        -webkit-transform: translate3d(-99%, -6%, 0);
    }
    50%{
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    54%{
        -webkit-transform: translate3d(-99%, 6%, 0);
    }
    58%{
        -webkit-transform: translate3d(-95%, 10%, 0);
    }
    66%{
        -webkit-transform: translate3d(-75%, 0, 0);
    }
    75%{
        -webkit-transform: translate3d(-50%, 10%, 0);
    }
    83%{
        -webkit-transform: translate3d(-25%, 0, 0);
    }
    91%{
        -webkit-transform: translate3d(-5%, 10%, 0);
    }
    96%{
        -webkit-transform: translate3d(-1%, 6%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}
@keyframes cloud2Floating {
    0% {
        transform: translate3d(50%, 0, 0);
    }
    12%{
        transform: translate3d(25%, -5%, 0);
    }
    25%{
        transform: translate3d(0, 0, 0);
    }
    37%{
        transform: translate3d(-25%, -5%, 0);
    }
    50%{
        transform: translate3d(-50%, 0, 0);
    }
    62%{
        transform: translate3d(-25%, 5%, 0);
    }
    75%{
        transform: translate3d(0, 0, 0);
    }
    87%{
        transform: translate3d(25%, 5%, 0);
    }
    100% {
        transform: translate3d(50%, 0, 0);
    }
}
@-webkit-keyframes cloud2Floating{
    0% {
        -webkit-transform: translate3d(50%, 0, 0);
    }
    12%{
        -webkit-transform: translate3d(25%, -5%, 0);
    }
    25%{
        -webkit-transform: translate3d(0, 0, 0);
    }
    37%{
        -webkit-transform: translate3d(-25%, -5%, 0);
    }
    50%{
        -webkit-transform: translate3d(-50%, 0, 0);
    }
    62%{
        -webkit-transform: translate3d(-25%, 5%, 0);
    }
    75%{
        -webkit-transform: translate3d(0, 0, 0);
    }
    87%{
        -webkit-transform: translate3d(25%, 5%, 0);
    }
    100% {
        -webkit-transform: translate3d(50%, 0, 0);
    }
}

#home header nav a{
    transition: color .2s;
    -webkit-transition: color .2s;
}
#home header nav a:hover{
    color: #9b0909;;
}
#home header nav a.button{
    transition: background .2s;
    -webkit-transition: background .2s;
}
#home nav a.button:hover{
    background-color: rgba(166, 16, 16, 1);
    color: #fff;
}

#about .stalactites img:first-child{
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s;
}
#stalactite1 img.end:first-child{
    transform: translate3d(0, 474px, 0);
    -webkit-transform: translate3d(0, 474px, 0);
}
#stalactite2 img.end:first-child{
    transform: translate3d(0, 494px, 0);
    -webkit-transform: translate3d(0, 494px, 0);
    transition-delay: .1s;
    -webkit-transition-delay: .1s;
}
#stalactite3 img.end:first-child{
    transform: translate3d(0, 531px, 0);
    -webkit-transform: translate3d(0, 531px, 0);
    transition-delay: .4s;
    -webkit-transition-delay: .4s;
}
#stalactite4 img.end:first-child{
    transform: translate3d(0, 496px, 0);
    -webkit-transform: translate3d(0, 496px, 0);
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}
#stalactite5 img.end:first-child{
    transform: translate3d(0, 532px, 0);
    -webkit-transform: translate3d(0, 532px, 0);
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
}

#ticketsBlock img.front,
#ticketsBlock img.frontShadow{
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform-origin: left;
    -webkit-transform-origin: left;
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition-timing-function: cubic-bezier(0.1, 0.6, 0.2, 1.5);
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.6, 0.2, 1.5);
}
#ticketsBlock img.front.end,
#ticketsBlock img.frontShadow.end{
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
}
#ticketsBlock img.front.hover,
#ticketsBlock img.frontShadow.hover{
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
}

#shaft{
    height: 0;
    transition: height .2s;
    -webkit-transition: height .2s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}
#shaft.end{
    height: 225px;
}
#pendulum{
    opacity: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: left center;
    -webkit-transform-origin: left center;
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    transition-timing-function: cubic-bezier(0.1, 0.6, 0.2, 1.2);
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.6, 0.2, 1.2);
}
#pendulum.end{
    opacity: 1;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#circles .popOverBlock .circle{
    transition: background .2s;
    -webkit-transition: background .2s;
}
#circles .popOverBlock .circle:hover,
#circles .popOverBlock.end .circle{
    background-color: #a71e1e;
}
    #circles .popOverBlock .circle a{
        transition: color .2s;
        -webkit-transition: color .2s;
    }
    #circles .popOverBlock .circle:hover a,
    #circles .popOverBlock.end .circle a{
        color: #fff;
    }
    #circles .popOverBlock .circle .arrow{
        transition: background .2s;
        -webkit-transition: background .2s;
    }
    #circles .popOverBlock .circle:hover .arrow{
        background: url("img/venue/downHover.png") no-repeat;
    }
    #circles .popOverBlock.end .circle .arrow{
        background: url("img/venue/close.png") no-repeat;
        height: 11px;
        margin-left: -5px;
        width: 11px;
    }
    #venue .marker{
        opacity: 0;
        transform: translate3d(0, -170px, 0);
        -webkit-transform: translate3d(0, -170px, 0);
        transition: transform .4s, opacity .4s;
        -webkit-transition: -webkit-transform .4s, opacity .4s;
        transition-timing-function: cubic-bezier(0.1, 0.6, 0.2, 1.2);
        -webkit-transition-timing-function: cubic-bezier(0.1, 0.6, 0.2, 1.2);
    }
    #venue .marker.end{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
        #venue .marker img{
             animation: rotating 2s linear infinite;
             -webkit-animation: rotating 2s linear infinite;
        }
        @keyframes rotating {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }
        @-webkit-keyframes rotating {
            from{
                -webkit-transform: rotate(0deg);
            }
            to{
                -webkit-transform: rotate(360deg);
            }
        }

#circles .popOverBlock .popOver{
    opacity: 0;
    transform: perspective(100em) translateY(-28px) scale(1, 0) rotateX(90deg);
    -webkit-transform: perspective(100em) translateY(-28px) scale(1, 0) rotateX(90deg);
    transform-origin: top;
    -webkit-transform-origin: top;
    transition: transform .4s, opacity .4s;
    -webkit-transition: -webkit-transform .2s, opacity .2s;
}
#circles .popOverBlock.end .popOver{
    opacity: 1;
    transform: perspective(100em) translateY(0) scale(1, 1) rotateX(0deg);
    -webkit-transform: perspective(100em) translateY(0) scale(1, 1) rotateX(0deg);
}