@media (max-height: 600px){
    #header{
        margin-top: 50px;
    }
    #home{
        height: 600px;
    }
    #logo{
        width: 120px;
    }
    #home .cloud.first{
        top: 5%;
    }
    #home .cloud.second{
        top: 15%;
        width: 300px;
    }
}