@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Black.otf')  format('OpenType');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Bold.otf')  format('OpenType');
    font-style: normal;
    font-weight: bold; /* 700 */
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-BoldIt.otf')  format('OpenType');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Extrabold.otf')  format('OpenType');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Light.otf')  format('OpenType');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-LightItalic.otf')  format('OpenType');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf')  format('OpenType');
    font-style: normal;
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-RegularItalic.otf')  format('OpenType');
    font-style: italic;
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Semibold.otf')  format('OpenType');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-SemiboldItalic.otf')  format('OpenType');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Proxima Nova Condenced';
    src: url('fonts/ProximaNovaCond-Light.otf')  format('OpenType');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Proxima Nova Condenced';
    src: url('fonts/ProximaNovaCond-LightIt.otf')  format('OpenType');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Proxima Nova Condenced';
    src: url('fonts/ProximaNovaCond-Regular.otf')  format('OpenType');
    font-style: normal;
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: 'Proxima Nova Condenced';
    src: url('fonts/ProximaNovaCond-RegularIt.otf')  format('OpenType');
    font-style: italic;
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: 'Proxima Nova Condenced';
    src: url('fonts/ProximaNovaCond-Semibold.otf')  format('OpenType');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Proxima Nova Condenced';
    src: url('fonts/ProximaNovaCond-SemiboldIt.otf')  format('OpenType');
    font-style: italic;
    font-weight: 600;
}

*{
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}
a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
html {
    color: #4b4b4b;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}
body {
    background-color: #fff;
    font-size: 16px;
    min-height: 100%;
    text-align: center;
    width: inherit;
}
body.blog,
body.blogPost{
    height: 100%;
    overflow: auto;
}
body.modal,
body.loading{
    overflow: hidden;
}
#header{
    left: 50%;
    margin: 60px 0 0 -495px;
    position: absolute;
    top: 0;
    width: 990px;
    z-index: 11;
}
    #navView{
        float: right;
    }
        #navView a{
            color: #4b4b4b;
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px;
            margin-right: 24px;
            text-transform: uppercase;
        }
        #navView a.home{
            background: url('img/home/logo.png') no-repeat;
            background-size: contain;
            display: block;
            height: 103px;
            left: -15px;
            opacity: 1;
            position: absolute;
            top: -30px;
            width: 76px;

        }
        #navView a.button{
            background-color: rgba(166, 16, 16, .7);
            border-radius: 45px;
            color: #fff;
            display: inline-block;
            height: 30px;
            line-height: 32px;
            width: 90px;
        }
#content{
    overflow: hidden;
    width: inherit;
}
#mainView{
    overflow: hidden;
    width: inherit;
    -webkit-overflow-scrolling: touch
}
#sideNav{
    background: rgba(0, 0, 0, .5);
    left: 0;
    position: fixed;
    top: 0;
    width: 30px;
    z-index: 101;
}
    #sideNav .pointer,
    #sideNav .nav{
        cursor: pointer;
        position: absolute;
        top: 0;
    }
    #sideNav .pointer{
        background: red;
        height: 10px;
        left: -10px;
        width: 50px;
    }
    #sideNav .nav{
        background: #fff;
        display: block;
        left: 0;
        height: 30px;
        width: 30px;
    }
.slide{
    background-size: auto 100%;
    position: relative;
    width: 100%;
}
    .slide .img{
        height: 100%;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
        .slide .content{
            height: 100%;
            margin: 0 auto;
            position: relative;
            width: 990px;
        }
            .slide .content h1{
                color: #9b0909;
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
#home{
    background: url("img/home/mainSlideBg.jpg") no-repeat;
    background-size: 100% 100%;
    height: 90%;
    z-index: 10;
}
    #home .img{
        background: url("img/home/mainSlideImg.png") no-repeat center bottom;
        background-size: auto auto;
        bottom: -64px;
        height: 652px;
    }
    #home article{
        height: 300px;
        left: 50%;
        margin: -150px 0 0 -270px;
        position: absolute;
        top: 50%;
        width: 600px;
    }
        #logo{
            background: url("img/home/logo.png") no-repeat center bottom;
            background-size: contain;
            margin: 0 auto;
            height: 298px;
            width: 220px;
        }
        #home article p{
            font-weight: 200;
            letter-spacing: 1px;
            line-height: 25px;
            text-transform: uppercase;
        }
    #home .cloud{
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #home .cloud.first{
        background-image: url("img/home/cloud1.png");
        height: 136px;
        left: 15%;
        top: 30%;
        width: 355px;
    }
    #home .cloud.second{
        background-image: url("img/home/cloud2.png");
        height: 193px;
        right: 0;
        top: 20%;
        width: 435px;
    }
#about{
    background: url("img/about/aboutSlideBg.jpg") no-repeat center top;
    height: 632px;
    z-index: 9;
}
    #about .img{
        background: url("img/about/aboutSlideImg.png") no-repeat center;
        bottom: -45px;
        height: 47px;
        width: 100%;
    }
    #about .content{
        height: auto;
        padding-top: 123px;
        position: relative;
    }
        #about header{
            margin-bottom: 35px;
        }
        #about article{
            margin: 30px auto 0 auto;
            width: 880px;
        }
            #about article p{
                line-height: 24px;
                margin-bottom: 20px;
            }
        #about .stalactites{
            display: block;
            height: 631px;
            position: absolute;
            top: 0;
        }
            #about .stalactites div{
                position: absolute;
                left: 0;
            }
            #about .stalactites div:first-child{
                background-repeat: no-repeat;
                background-position:  center top;
                background-size: contain;
                top: 0;
            }
            #about .stalactites div:last-child{
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
                bottom: 0;
            }
            #stalactite1{
                left: -117px;
                width: 38px;
            }
                #stalactite1 div:first-child{
                    background-image: url("img/about/stalactite1.png");
                    height: 312px;
                    width: 100%;
                }
                #stalactite1 div:last-child{
                    background-image: url("img/about/stalactite1overlay.jpg");
                    height: 70px;
                    width: 100%;
                }
            #stalactite2{
                left: -26px;
                width: 23px;
            }
                #stalactite2 div:first-child{
                    background-image: url("img/about/stalactite2.png");
                    height: 155px;
                    width: 100%;
                }
                #stalactite2 div:last-child{
                    background-image: url("img/about/stalactite2overlay.jpg");
                    height: 101px;
                    width: 100%;
                }
            #stalactite3{
                right: 143px;
                width: 22px;
            }
                #stalactite3 div:first-child{
                    background-image: url("img/about/stalactite3.png");
                    height: 158px;
                    width: 100%;
                }
                #stalactite3 div:last-child{
                    background-image: url("img/about/stalactite3overlay.jpg");
                    height: 62px;
                    width: 100%;
                }
            #stalactite4{
                right: -45px;
                width: 28px;
            }
                #stalactite4 div:first-child{
                    background-image: url("img/about/stalactite4.png");
                    height: 233px;
                    width: 100%;
                }
                #stalactite4 div:last-child{
                    background-image: url("img/about/stalactite4overlay.jpg");
                    height: 67px;
                    width: 100%;
                }
            #stalactite5{
                right: -124px;
                width: 59px;
            }
                #stalactite5 div:first-child{
                    background-image: url("img/about/stalactite5.png");
                    height: 279px;
                    width: 100%;
                }
                #stalactite5 div:last-child{
                    background-image: url("img/about/stalactite5overlay.jpg");
                    height: 39px;
                    width: 100%;
                }
#tickets{
    background: url("img/tickets/ticketsSlideBg.jpg") no-repeat center top;
    height: 744px;
    z-index: 8;
}
    #tickets .img{
        background: url("img/tickets/ticketsSlideImg.png") no-repeat center;
        bottom: -103px;
        height: 105px;
        width: 100%;
    }
    #tickets .content{
        height: auto;
        padding-top: 130px;
    }
        #tickets header{
            margin-bottom: 95px;
        }
            #ticketsBlock{
                display: block;
                height: 113px;
                margin: 0 auto 174px auto;
                position: relative;
                width: 240px;
            }
                #ticketsBlock .backBlock{
                    height: 113px;
                    position: relative;
                    overflow: hidden;
                    width: 240px;
                }
                #ticketsBlock .ticket{
                    background: url("img/tickets/ticket.png") no-repeat center;
                    bottom: 0;
                    height: 113px;
                    left: 0;
                    position: absolute;
                    width: 239px;
                }
                #ticketsBlock .ticket.frontShadow{
                    background: url("img/tickets/ticketShadow.png") no-repeat center;
                    background-size: 100% 100%;
                    height: 113px;
                    left: -10px;
                    top: 8px;
                    width: 260px;
                }
                #ticketsBlock .ticket.front{
                    bottom: 10px;
                }
            #tickets h3{
                font-size: 20px;
                font-weight: bold;
                line-height: 23px;
                margin-bottom: 26px;
            }
                #tickets h3 a{
                    color: #a02e30;
                    text-decoration: underline;
                }
            #tickets p{
                font-size: 18px;
                line-height: 18px;
            }
            #tickets .arrow{
                position: absolute;
                right: 230px;
                top: 323px;
            }
                #shaft{
                    background: url('img/tickets/shaft.png') no-repeat;
                    width: 113px;
                }
                #pendulum{
                    position: absolute;
                    left: 0;
                    top: 98px;
                    width: 122px;
                }
                    #arrowhead{
                        background: url('img/tickets/arrowhead.png') no-repeat;
                        float: right;
                        height: 27px;
                        transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        width: 19px;
                    }
#venue{
    background: url("img/venue/venueSlideBg.jpg") no-repeat center top;
    height: 842px;
    position: relative;
    z-index: 7;
}
    #venue .content{
        height: auto;
        padding-top: 170px;
        position: relative;
    }
        #venue .content header{
            margin-bottom: 55px;
        }
        #circles{
            height: 130px;
            margin: 0 auto 272px auto;
            position: relative;
            width: 770px;
        }
            #circles .popOverBlock{
                height: 130px;
                position: absolute;
                top: 0;
                width: 130px;
            }
            #circles .popOverBlock.left{
                left: 0;
            }
            #circles .popOverBlock.right{
                right: 0;
            }
                #circles .popOverBlock .circle{
                    border: 2px solid #a71e1e;
                    border-radius: 100%;
                    cursor: pointer;
                    height: 126px;
                    position: relative;
                    width: 126px;
                }
                    #circles .popOverBlock .circle a{
                        color: #a71e1e;
                        letter-spacing: 1px;
                        line-height: 126px;
                        text-transform: uppercase;
                    }
                    #circles .popOverBlock .circle .arrow{
                        background: url("img/venue/down.png") no-repeat;
                        bottom: 27px;
                        height: 9px;
                        left: 50%;
                        margin-left: -8px;
                        position: absolute;
                        width: 17px;
                    }
                #circles .popOverBlock .popOver{
                    background-color: #fff;
                    height: 327px;
                    left: -80px;
                    padding: 28px 31px;
                    position: relative;
                    top: 28px;
                    width: 228px;
                }
                    #circles .popOverBlock .popOver .triangle{
                        border-left: 13px solid transparent;
                        border-right: 13px solid transparent;
                        border-bottom: 12px solid #fff;
                        height: 0;
                        left: 50%;
                        margin-left: -13px;
                        position: absolute;
                        top: -12px;
                        width: 0;
                    }
                    #circles .popOverBlock .popOver figure{
                        cursor: pointer;
                        height: 131px;
                        margin-bottom: 25px;
                        position: relative;
                        width: 229px;
                    }
                        #circles .popOverBlock .popOver figure img{
                            width: 100%;
                        }
                    #circles .popOverBlock .popOver p{
                        font-size: 14px;
                        line-height: 19px;
                        text-align: justify;
                    }
        #venue .marker{
            background: url('img/venue/marker.png') no-repeat;
            cursor: pointer;
            height: 50px;
            margin: 0 auto 12px auto;
            padding: 10px 0 0 9px;
            width: 38px;
        }
            #venue .marker div{
                background: url("img/venue/spiral.png") no-repeat center;
                background-size: contain;
                height: 28px;
                display: block;
                width: 28px;
            }
        #venue .address{
            background-color: rgba(43, 77, 104, .32);
            border-radius: 13px;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
            padding: 0 13px;
            width: 184px;
        }
#blogView,
#blogPostView{
    background: url('img/blog/blogImg.jpg') no-repeat center bottom, url("img/bg.jpg") repeat-y center top;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}
    #posts{
        margin: 0 auto;
        padding: 170px 30px 0 30px;
        width: 930px;
        position: relative;
    }
        #posts .blogPost{
            height: 290px;
            width: 100%;
        }
            #posts .blogPost h2,
            #blogPostView h2{
                color: #a61010;
                font-weight: normal;
                letter-spacing: 1px;
                margin-bottom: 30px;
                text-align: left;
            }
            #posts .blogPost h2{
                cursor: pointer;
                font-size: 25px;
            }
            #posts .blogPost .cover{
                background-color: #a61010;
                cursor: pointer;
                float: left;
                height: 186px;
                margin-right: 25px;
                overflow: hidden;
                padding: 2px;
                position: relative;
                width: 286px;
            }
                #posts .blogPost .cover p{
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 186px;
                    text-align: center;
                }
                #posts .blogPost .cover span{
                    background: url('img/blog/arrow.png');
                    display: block;
                    height: 5px;
                    margin-top: -2px;
                    position: absolute;
                    right: 70px;
                    top: 50%;
                    width: 9px;
                }
                #posts .blogPost .cover img{
                    height: 186px;
                    left: 2px;
                    position: absolute;
                    top: 2px;
                    width: 286px;
                }
            #posts .blogPost .post,
            #posts .blogPost .author{
                height: 190px;
            }
            #posts .blogPost .post{
                float: left;
                margin-right: 55px;
                overflow: hidden;
                width: 440px;
            }
                #posts .blogPost .post .date,
                #blogPostView .post .date{
                    color: #000;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 15px;
                    text-align: left;
                }
                #posts .blogPost .post .date span,
                #blogPostView .post .date span{
                    background: url('img/blog/watch.png');
                    display: block;
                    float: left;
                    height: 22px;
                    margin-right: 10px;
                    width: 22px;
                }
                #posts .blogPost .post .text,
                #blogPostView .post .text{
                    color: #4b4b4b;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: left;
                }
            #posts .blogPost .author,
            #blogPostView .author{
                float: right;
                width: 120px;
            }
                #posts .blogPost .author img,
                #blogPostView .author img{
                    border: 2px solid #8c8c8c;
                    border-radius: 100%;
                    height: 116px;
                    margin-bottom: 20px;
                }
                #posts .blogPost .author p,
                #blogPostView .author p{
                    color: #8c8c8c;
                    font-size: 16px;
                    line-height: 22px;
                }
    #pagination{
        height: 25px;
        margin: 0 auto 470px auto;
        position: relative;
    }
        #pagination .prev,
        #pagination .next{
            background: url('img/blog/pointer.png') no-repeat center, rgba(0, 0, 0, .08);
            border-radius: 100%;
            cursor: pointer;
            display: block;
            height: 25px;
            position: absolute;
            top: 0;
            width: 25px;
        }
        #pagination .prev{
            left: 0;
        }
        #pagination .next{
            right: 0;
            transform: scale(-1);
            -webkit-transform: scale(-1);
        }
        #pagination a{
            color: #6e6e6e;
            display: inline-block;
            font-size: 12px;
            line-height: 28px;
            text-align: center;
            width: 12px;
        }
    #blogPostView .content{
        margin: 0 auto;
        padding: 180px 30px 0 30px;
        width: 930px;
    }
        #blogPostView h2{
            font-size: 30px;
            margin-bottom: 18px;
        }
        #blogPostView .post{
            float: left;
            width: 690px;
        }
        #blogPostView .clear{
            clear: both;
            margin-bottom: 470px;
        }

#viewer{
    height: 80%;
    left: 0;
    position: fixed;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    width: 80%;
    z-index: 13;
}
    #viewer img{
        display: block;
        max-height: 100%;
        max-width: 100%;
    }
    #map{
        height: 100%;
        width: 100%;
    }
        #map img{ /* fix for map controls */
            max-height: inherit;
            max-width: inherit;
        }
#modal{
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    width: 100%;
    z-index: 12;
}
body.modal #modal{
    transform: scale(1);
    -webkit-transform: scale(1);
}
#preloader{
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    position: absolute !important;
    top: 0;
    z-index: 10001;
}
    #preloader img{
        display: block;
        height: 60px !important;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 60px !important;
    }
#pagePreloader{
    background: url('img/bg.jpg') repeat-y center;
    left: 0;
    opacity: 0;
    position: fixed !important;
    top: 0;
    z-index: 10001;
}
    #pagePreloader div{
        background: url("img/preLogo.png") no-repeat center;
        height: 298px;
        left: 50%;
        margin: -149px 0 0 -110px;
        position: absolute;
        top: 50%;
        width: 220px;
    }
        #pagePreloader div img{
            display: block;
            height: 36px;
            /*opacity: 0;*/
            position: absolute;
            width: 37px;
        }
        #pagePreloader div img:first-child{
            left: 84px;
            top: 83px;
        }
        #pagePreloader div img:last-child{
            height: 24px;
            left: 142px;
            top: 96px;
            transform: rotate(110deg);
            -webkit-transform: rotate(110deg);
            width: 24px;
        }
    #pagePreloader p{
        bottom: 60px;
        color: #000;
        font-size: 17px;
        left: 50%;
        margin-left: -20px;
        opacity: .3;
        position: absolute;
        text-transform: uppercase;
    }