*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
jekyll/_site
blog/data
!blog/data/index.json
# YARD artifacts
.yardoc
_yardoc
doc/
.DS_Store
node_modules
