<section id="mainSlide" class="slide">
    <div class="img"></div>
    <div class="content">
        <header>
            <nav>
                <a href="#aboutSlide">about</a>
                <a href="#ticketsSlide">tickets</a>
            </nav>
        </header>
        <article>
            <img id="logo" src="css/img/logo.png">
            <!--<div id="logo"></div>-->
            <p>Annual Conference 2014 about the Ruby language will<br> take place in Kyiv on 20th-21th in June.</p>
        </article>
    </div>
    <img class="cloud first" src="css/img/cloud1.png">
    <img class="cloud second" src="css/img/cloud2.png">
</section>
<section id="aboutSlide" class="slide">
    <div class="stalactites"></div>
    <div class="img"></div>
    <div class="content">
        <header>
            <h1>About</h1>
        </header>
        <article>
            <p>An annual European Ruby Conference (EuRuKo) is focused on the Ruby programming language and satellite technolo-<br>
                gies, where its awesome attendees give ear, chat, hack, and share the adorable content and involvement from awe-<br>
                some speakers.</p>
            <p>Since 2003, EuRuKo has guested all over the Europe, organized by Ruby developers for Ruby developers.<br>
                Salute Kyiv, the next amazing conference’s host!</p>
            <p>Inspiring and stimulating time of teamwork and coaching must spark you off.<br>
                Every “Ruby meeting” is spurred on by its volunteers and enthusiasts who welcome you on 28th-29th of June, 2014 to<br>
                party and study with other Ruby experts.</p>
            <p>Dive into the heart of tech gigs, and Ruby fans sharing, discussing, and simply having great time!</p>
            <p>Come and love the fun!</p>
        </article>
    </div>
</section>
<section id="ticketsSlide" class="slide">
    <div class="img"></div>
    <div class="content">
        <header>
            <h1>tickets</h1>
        </header>
        <article>
            <div id="tickets">
                <div>
                    <img class="back" src="css/img/ticket.jpg">
                    <img class="frontShadow" src="css/img/ticketShadow.png">
                </div>
                <img class="front" src="css/img/ticket.jpg">
            </div>
            <div class="arrow">
                <div id="shaft"></div>
                <div id="pendulum">
                    <div id="arrowhead"></div>
                </div>
            </div>
            <h3>Get an invoice for your ticket</h3>
            <p>The ticket's price is 60 €.</p>
        </article>
    </div>
</section>